@import "color";

.movie_recommendation_header {
  padding: 0px 16px;
  font-size: 24px;
  font-family: Circular Std;
  letter-spacing: 0.25px;
}

.movie_recommendation_content {
  margin: 24px 0px 72px 16px;
  padding: 8px 0px;
}

.movie_recommendation_content {
  display: flex;
  // align-items: center;
  flex-wrap: nowrap;
}

.movie_recommendation_card_container {
  // position: relative;
  // min-width: 300px;
  // height: 180px;
  height: 100%;
  padding-right: 1.5rem;

  @media only screen and (max-width: 962px) {
    // min-width: 200px;
    // height: 120px;
    padding-right: 1.25rem;
  }

  .separate_line {
    height: 4px;
    width: 40px;
    background: $red;
    margin: 16px 4px 8px;
  }
}

.recommendation_backdrop_container {
  width: 300px;
  height: 180px;
  background-color: $black-chinese-bright;
  border-radius: 9px;
  @media only screen and (max-width: 962px) {
    width: 200px;
    height: 120px;
  }
}

.recommendation_backdrop {
  width: 100%;
  height: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 9px;
    transition: transform 0.3s ease 0s, margin-bottom 0.3s ease 0s;
  }

  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.05);
      margin-bottom: 4px;
    }

    @media only screen and (max-width: 962px) {
      margin-bottom: 4px;
    }
  }
}

.no_backdrop_recommendation {
  width: 300px;
  @media only screen and (max-width: 962px) {
    width: 200px;
  }
  background: $black-chinese-bright;

  height: 100%;
  border-radius: 9px;
  transition: transform 0.3s ease 0s, margin-bottom 0.3s ease 0s;
  cursor: pointer;
  display: flex;

  &:hover {
    transform: scale(1.05);
    margin-bottom: 4px;

    @media only screen and (max-width: 962px) {
      margin-bottom: 4px;
    }
  }

  .image_logo {
    margin: auto;
    font-size: 60px;
  }
}

.recommendation_movie_name {
  // white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 4px;
  font-size: 16px;
  font-family: Circular Std;
  word-break: break-word;
  letter-spacing: 0.25px;
  width: 100%;

  @media only screen and (max-width: 962px) {
    font-size: 14px;
  }
}
