$white-solitude: #eceff6;
$black: #0c0a0a;
$metallic: #acabb3;
$brown: #492f30;
$red: #d0071e;
$red-alizarin:#e74c3c;
$gray-dim: #545658;
$gray-rhythm: #74738e;
$black-chinese: #141414;
$black-chinese-bright:#272727;
$facebook:#3b5999;
$line-app:#00b900;