@import "color";

.trend_container {
  //position: absolute;
  width: 100%;
}

.trend_content {
  background: $black-chinese;
  //margin-top: 5rem;
}

.trend_card_container {
  padding-left: 50px;
  padding-right: 50px;

  @media only screen and (max-width: 767px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}


.trend_header_word {
  //background: linear-gradient(transparent, $black 80%);
  color: $white-solitude;
  padding-left: 60px;
  padding-right: 50px;

  @media only screen and (max-width: 767px) {
    padding-left: 34px;
    padding-right: 24px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 28px;
  }

  font-family: Circular Std;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding-top: 28px;
  white-space: nowrap;
}

.trend_card_container {
    
  background: $black-chinese;
  padding-top: 24px;
  padding-bottom: 24px;

  @media only screen and (max-width: 576px) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.trend_card_content {
  position: relative;
  width: auto !important;
  color: $white-solitude;
  user-select: none;
  margin-right: 2rem;
  border-radius: 9px;
  padding: 10px;
  background: transparent;
  transition: background 0.3s ease 0s,transform 0.3s ease 0s;
  cursor: pointer;

  &:focus,&:focus-visible {
    outline: none !important;
    outline-color: transparent !important;
    outline-style: none !important;
    outline-width: 0px !important;
  }

  
  

  &:hover {
      transform: scale(1.005);
      background: $black-chinese-bright;
  }

  @media only screen and (max-width: 576px) {
    margin-right: 1rem;
  }

}

.card_poster {
   
  // max-width: 200px;
  // width: auto;

  @media only screen and (max-width: 992px) {
    max-height: 220px;
  }

  @media only screen and (max-width: 768px) {
    max-height: 180px;
  }

  @media only screen and (max-width: 576px) {
    max-height: 140px;
  }

  margin-bottom: auto;

  max-height: 250px;
  height: auto;
  object-fit: contain;
  border-radius: 9px;
}

.card_detail_container {
    //margin-top: .5rem;
    padding-top: .5rem;
    position: relative;
    //background-color: $white-solitude;

    @media only screen and (max-width:576px) {
        .card_name {
            font-size: 12px ;
        }

        .card_detail {
            font-size: 10px;
        }
    }

    @media (min-width:577px) and (max-width:992px) {
        .card_name {
            font-size: 14px;
        }

        .card_detail {
            font-size: 12px;
        }
    }

    @media only screen and (min-width:993px) {
        .card_name {
            font-size: 16px;
        }

        .card_detail {
            font-size: 14px;
        }
    }

    .card_name,.card_detail {
        letter-spacing: .25px;
        overflow: hidden;
        word-break: break-word;
    }

    .card_name {
        //font-size: 16px;
        font-family: Circular Std;
    }

    .card_detail {
        //font-size: 14px;
        color: #7a7a7a;
    }
}
